# Java related #
# Binaries
.class
bin/
# virtual machine crash logs
hs_err_pid*


# Eclipse related #
.classpath
.project
.settings/
org.eclipse.jdt.core.prefs


# WikiTailor related #
WT-v* 
wt-*.log
*.dict
*.articles
*.category
*.stats
# Files with passwords
configs/lump_wiki.properties

