<html>

<h3>DEFINITIONS</h3> 
<p>
<b>Parallel sentences</b>. Both sentences are an exact translation from each other.
<br/>
<b>Comparable sentences</b>. Sentences contain the same meaning but are represented in a different structure.
</p> 
		
<h3>ELEMENTS DESCRIPTION</h3>

<ul>
<li><b>Select document</b>
Click for selecting a new pair of documents to work with. The pop up presents a selection list to chose 
the pair. 
WARNING: If the document is changed, the changes in the current pair are lost.

<li><b>Texts</b>
Source and target texts are displayed, one sentence per line (source on top of target). Click on a 
sentence to select it. More than one sentence can be selected per language, but this only make sense if 
they are comparable.

<li><b>Parallel (shortcut: ALT + p)</b>
Click if the selected sentences are parallel. The pair is added to the record.
NOTE: a sentence can belong to one pair only. The pair is not accepted if a sentence already belongs to 
other parallel pair. 

<li><b>Comparable (shortcut: ALT + c)</b>
Click if the selected sentences are comparable. The pair is added to the record. 
NOTE: a sentence can belong to many comparable pairs.  

<li><b>Log section</b>
Keeps the log of the operations performed. When a pair is added, it is displayed here. In case of error 
or warning (for instance, the pair was not accepted or a sentence belongs to more than one comparable 
pair), it is shown here.

<li><b>Undo</b>
Undoes the last operation.

<li><b>Summary</b>
Displays a summary containing every parallel and comparable pair already defined. 
		
<li><b>Save</b>
Saves the annotations into an XML file.
</ul>
</html>